.afbf_name {
    display: none;
}
.alx_feed_back {
    border: 3px solid rgba(112, 112, 112, 0.1);
    padding: 40px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1)
}
.title-form {
    color: #334A6F;
    font-size: 20px;
}
.alx_feed_back {
    margin-right: 50px;
}

.bx-breadcrumb-item {
    display: inline-block;
    font-size: 14px;
}

.bx-breadcrumb-item a {
    padding: 0;
}

.bx-breadcrumb-item > span {
    color: #f3b337;
}

.bx-breadcrumb-item a:hover {
    text-decoration: underline;
}

.bx-breadcrumb-item i {
    margin: 0 5px;
}

.content-page {
    padding: 20px 0;
}

.section-list {
    text-align: center;
    padding: 20px;
}

.section-name {
    display: block;
    color: #222;
    margin-top: 10px;
}

.section-img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px;
    display: block;
    margin: auto;
}

.section-img-wrapper img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}

.section-img-wrapper:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.content-page img {
    max-width: 100%;
    height: auto;
}

.flexBetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bx-basket-block {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding-left: 20px;
}

.bx-basket-block img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bx-basket-block .count-cart {
    position: absolute;
    display: flex;
    height: 16px;
    min-width: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    left: 0;
    top: 5px;
    background-color: #f3b337;
    color: #fff;
    border-radius: 50%;
}

.bx-basket-block .count-cart span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
}

.bx-basket-block .summ-cart {
    font-size: 15px;
}

.bx-basket-block .empty-cart {
    font-size: 14px;
    color: #c4c4c4;
}

.navbar-light .navbar-nav .nav-link.selected {
    color: #f3b337;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.main-catalog-bg {
    background-color: #caf5c529;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 16px;
}
.lds-ellipsis span {
    position: absolute;
    top: 6px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #284778;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis span:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis span:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis span:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis span:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.detail-gallery {
    display: block;
}

.detail-gallery img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 380px;
    display: block;
    margin: auto;
}

.detail-page {
    font-size: 20px;
}

.btn-primary, .bx-newslist .btn {
    color: #fff;
    background-color: #e99302;
    border-color: #e99302;
}

.btn-primary:hover, .bx-newslist .btn:hover {
    color: #fff;
    background-color: #5b9f0a;
    border-color: #5b9f0a;
}

#js-notice-cart {
    position: fixed;
    z-index: 9999;
    top: 50px;
    right: 50px;
}

#js-notice-cart span {
    display: block;
    visibility: hidden;
    text-align: left;
    background-color: #fff;
    color: #444;
    margin-bottom: 10px;
    padding: 10px 30px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.21);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.21);
}

#js-notice-cart span:hover {
    background-color: #fff;
    opacity: 1;
}

#js-notice-cart span.show {
    opacity: .7;
    visibility: visible;
}

#js-notice-cart span:after {
    content: "x";
    position: absolute;
    top: 0;
    right: 5px;
    color: #6f6f6f26;
}

.js-open-news {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.js-open-news:before {
    display: inline-block;
    content: '\2014\a0';
    margin-right: 5px;
}

.js-open-content {
    display: none;
    color: #444;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #f3b337;
    margin: 20px;
}

.bx-newsdetail-content {
    padding: 20px 0;
}

.navigation {
    font-size: 14px;
}

.news-item a {
    color: #444;
    font-weight: 300;
}

.created-date {
    font-size: 13px;
    color: #777;
}